/* Empty. Add your own CSS if you like */
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center {
  text-align:center;
}

.pull-right {
  float:right;
}

.breaker {
  border-top:1px solid #EEE;
  margin-bottom:5px;
}

.m5 {
  margin:5px;
}

.border-none {
  border: none;
}

.btnz {
  font-size:26px;
  font-weight:bold;
  width:220px;
  height:43px;
  line-height:-1px;
}

.acct-header {
  padding-left:10px;
  height:30px;
  line-height:30px;
  background-color:#EEE;
}

div.scroll {
  height:87.5%;
}

.angular-google-map {
  height: 87.5%;
}

.angular-google-map-container {
  height: 87.5%;
}
.angular-google-map {
  height: 87.5%;
}
div.scroll {
  height: 87.5%
}
