<ion-view view-title="Account">
  <ion-content>

    <!-- USER DATA -->
    <div class="acct-header">
      <b>User Data</b>
    </div>

    <ion-card>
      <ion-list>
        <ion-item>
          <label>Username</label>
          <input type="text" ng-model="user.name"/>
        </ion-item>

        <ion-item>
          <label>Password</label>
          <input type="text" ng-model="user.password"/>
        </ion-item>

        <ion-item>
          <label>License No.</label>
          <input type="text" ng-model="user.license"/>
        </ion-item>
      </ion-list>
    </ion-card>

    <div class="acct-header">
      <b>Pot Data</b>
    </div>

    <!-- POT DATA -->
    <ion-card>
      <ion-list>
        <ion-item ng-repeat="pot in pots">
          <label style="font-weight:bold">Name</label>
          <input type="text" ng-model="pot.name"/>
          <label style="font-weight:bold">Type</label>
          <input type="text" ng-model="pot.type"/>
          <br>
          <div><b>Line Markings</b></div>
          <div class="breaker"></div>
          <label style="font-weight:bold">Base Color</label>
          <input type="text" ng-model="pot.base"/>
          <label style="font-weight:bold">Contrast Color</label>
          <input type="text" ng-model="pot.contrast"/>
          <label style="font-weight:bold">Placement</label>
          <input type="text" ng-model="pot.placement"/>
          <br>
          <div><b>Buoy Designation</b></div>
          <div class="breaker"></div>
          <label style="font-weight:bold">Top Color</label>
          <input type="text" ng-model="pot.base"/>
          <label style="font-weight:bold">Middle Color</label>
          <input type="text" ng-model="pot.contrast"/>
          <label style="font-weight:bold">Bottom Color</label>
          <input type="text" ng-model="pot.placement"/>
          <label style="font-weight:bold">Image</label>
          <br>
          <br>
          <img ng-src="{{pot.buoy}}" height="150" />
          <br>
          <br>
          <button class="button button-clear button-assertive pull-right" ng-click="deletePot($index)">
            <div class="ion-ios-trash"> Delete</div>
          </button>
          <button class="button button-clear button-positive pull-right" ng-click="editPot($index)">
            <div class="ion-edit"> Edit</div>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>

    <button class="button button-balanced m5 pull-right" ng-click="createPot()">
      <div class="ion-plus"> New Pot</div>
    </button>
  </ion-content>
</ion-view>

<!-- NEW POT MODAL -->
<script id="templates/newPotModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">New Pot</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input ng-model="newPot.name" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Type</span>
          <select ng-model="newPot.type" ng-options="type.value as type.value for type in types" />
        </label>
        <!-- LINE -->
        <div class="m5"><b>Line Markings</b></div>
        <label class="item item-input">
          <span class="input-label">Base Color</span>
          <select ng-model="newPot.base" ng-options="color.value as color.value for color in colors track by color.code" />
        </label>
        <label class="item item-input">
          <span class="input-label">Contrast Color</span>
          <select ng-model="newPot.contrast" ng-options="color.value as color.value for color in colors track by color.code" />
        </label>
        <label class="item item-input">
          <span class="input-label">Placement</span>
          <select ng-model="newPot.placement" ng-options="placement.value as placement.value for placement in placements track by placement.code" />
        </label>
        <!-- BOUY -->
        <div class="m5"><b>Buoy Markings</b></div>
        <label class="item item-input">
          <span class="input-label">Top Color</span>
          <select ng-model="newPot.top" ng-options="color.value as color.value for color in colors track by color.code" />
        </label>
        <label class="item item-input">
          <span class="input-label">Middle Color</span>
          <select ng-model="newPot.middle" ng-options="color.value as color.value for color in colors track by color.code" />
        </label>
        <label class="item item-input">
          <span class="input-label">Bottom Color</span>
          <select ng-model="newPot.bottom" ng-options="color.value as color.value for color in colors track by color.code" />
        </label>

        <button class="button button-full button-balanced" ng-click="savePot(newPot)" ng-disabled="buttonCheck()">Create</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<!-- END MODAL -- >
