<ion-view view-title="Home">
  <ion-content class="padding">
    <div>
      <img src="./img/potluck.png" class="center" style="height:150px">
    </div>
    <br>
    <div>
      <button class="center button button-balanced" ng-click="deploy()">
        <div class="ion-help-buoy btnz"> Deploy</div>
      </button>
    </div>
    <br>
    <div>
      <button class="center button button-calm" ng-click="map()">
        <div class="ion-map btnz"> Pot Map</div>
      </button>
    </div>
    <br>
    <div>
      <button class="center button button-energized" ng-click="retrieve()">
        <div class="ion-location btnz"> Retrieve</div>
      </button>
    </div>
    <br>
    <div>
      <button class="center button button-assertive" ng-click="report()">
        <div class="ion-search btnz"> Report a Pot</div>
      </button>
    </div>
  </ion-content>
</ion-view>
