<ion-view view-title="Deploy">
  <ion-content class="padding" data-tap-disabled="false">
    <div class="angular-google-map" id="gmap-deploy"></div>
    <ion-item ng-repeat="pot in pots" ng-hide="waitingForLocation">
      <ion-radio ng-click="submitDeployment(pot)" ng-model="deployment.pot" ng-value="{{ pot.id }}">
        {{ pot.name }}
      </ion-radio>
    </ion-item>
    <ion-item ng-show="!waitingForLocation && pots.length === 0">
      No pots added
      <br>
      <a href="#/tab/account">Add one now</a>
    </ion-item>
  </ion-content>
</ion-view>
