<ion-view view-title="Home">
  <ion-content class="padding">
    <div>
      <img src="./img/potluck.png" class="center" style="height:250px">
    </div>
    <br>
    <div>
      <button class="center button button-balanced" ng-click="deploy()">
        <div class="ion-help-buoy btnz"> Deploy</div>
      </button>
    </div>
    <br>
    <div>
      <button class="center button button-calm">
        <div class="ion-checkmark btnz"> Check</div>
      </button>
    </div>
    <br>
    <div>
      <button class="center button button-energized">
        <div class="ion-location btnz"> Claim</div>
      </button>
    </div>
  </ion-content>
</ion-view>
